/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import 'highlight.js/styles/tomorrow-night-bright.min.css';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    background-color: #18181b;
    color: white;
}

.ti {
    font-size: 22px;
}

.p-overlaypanel-content {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.p-input-icon-left > i:first-of-type {
    top: 1rem;
}