<p-toast />
<p-confirmDialog />

<ng-template #pageHeader>
    <p class="text-2xl font-bold mb-5">URLs</p>
</ng-template>

<p-table
    #dt
    [value]="data?.content ?? []"
    [totalRecords]="data?.totalElements ?? 0"
    [rows]="data?.numberOfElements"
    [lazy]="true"
    (onLazyLoad)="onLoad($event)"
    [loading]="loadingData"
    [paginator]="true"
    [sortOrder]="-1"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUrls"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {rows} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            <p-icon-field>
                <p-inputicon style="top: 15px">
                    <i-tabler name="search"></i-tabler>
                </p-inputicon>
                <input
                    pInputText
                    type="text"
                    placeholder="Search..."
                    (change)="search($event)"
                />
            </p-icon-field>
            <div>
                <app-button
                    severity="danger"
                    (click)="deleteMany()"
                    [disabled]="selectedUrls.length == 0"
                    iconName="trash"
                    label="Delete"
                >
                </app-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="slug" style="min-width: 15rem">
                Short URL <p-sortIcon field="slug" />
            </th>
            <th pSortableColumn="url">
                Original URL <p-sortIcon field="url" />
            </th>
            <th style="min-width: 8rem" pSortableColumn="custom">
                Custom <p-sortIcon field="custom" />
            </th>
            <th style="min-width: 12rem" pSortableColumn="createdAt">
                Created at <p-sortIcon field="createdAt" />
            </th>
            <th style="min-width: 10rem" pSortableColumn="expiresAt">
                Expires in <p-sortIcon field="expiresAt" />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-url>
        <tr>
            <td>
                <p-tableCheckbox [value]="url" />
            </td>
            <td>
                <a
                    class="text-red-400"
                    [href]="window.location.origin + '/s/' + url.slug"
                    >{{ window.location.hostname + '/s/' + url.slug }}</a
                >
            </td>
            <td>
                <a class="text-red-400" [href]="url.url">{{ url.url }}</a>
            </td>
            <td>
                @if (url.custom) {
                    <i-tabler
                        name="check"
                        class="p-1 font-bold text-sm text-green-300 bg-green-900 rounded-full"
                    ></i-tabler>
                } @else {
                    <i-tabler
                        name="x"
                        class="p-1 font-bold text-sm text-red-300 bg-red-900 rounded-full"
                    ></i-tabler>
                }
            </td>
            <td>
                {{ url.createdAt | date: 'short' }}
            </td>
            <td>
                <span
                    [pTooltip]="DateUtils.expiresIn(url.expiresAt, 'long')"
                    tooltipPosition="top"
                    >{{ DateUtils.expiresIn(url.expiresAt, 'humanized') }}</span
                >
            </td>
            <td>
                <p-menu
                    #options
                    [model]="optionsItems"
                    [popup]="true"
                    appendTo="body"
                />
                <app-button
                    (click)="openOptionsMenu(options, $event, url)"
                    iconName="dots-vertical"
                ></app-button>
            </td>
        </tr>
    </ng-template>
</p-table>
