<div
    class="bg-zinc-800 absolute top-44 left-1/2 transition transform -translate-x-1/2 -translate-y-1/2 mx-auto -mt-4 hidden w-full max-w-screen-sm overflow-hidden rounded-lg border bg-white shadow-sm lg:block"
>
    <div class="m-6 mb-10 grid grid-cols-2 gap-8">
        <a routerLink="/url-shortener" class="group flex gap-4">
            <div
                class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg bg-red-500 text-white shadow-lg transition duration-100 group-hover:bg-red-600 group-active:bg-red-700 md:h-12 md:w-12"
            >
                <i-tabler name="link"></i-tabler>
            </div>

            <div>
                <div class="mb-1 font-semibold text-red-400">URL Shortener</div>
                <p class="text-sm">
                    Reduce a massive link into a short, easy to share, link.
                </p>
            </div>
        </a>
        <a routerLink="/pastebin" class="group flex gap-4">
            <div
                class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg bg-red-500 text-white shadow-lg transition duration-100 group-hover:bg-red-600 group-active:bg-red-700 md:h-12 md:w-12"
            >
                <i-tabler name="notes"></i-tabler>
            </div>

            <div>
                <div class="mb-1 font-semibold text-red-400">Pastebin</div>
                <p class="text-sm">Share any text over the web with ease.</p>
            </div>
        </a>
    </div>
</div>
