<form [formGroup]="form" class="flex flex-col p-8">
    <p class="text-4xl font-bold mb-5">Pastebin</p>

    <p-selectButton
        class="mb-5"
        [options]="modes"
        [(ngModel)]="mode"
        [allowEmpty]="false"
        optionLabel="label"
        optionValue="value"
        [ngModelOptions]="{ standalone: true }"
    ></p-selectButton>

    <textarea
        *ngIf="mode === 'CONTENT'"
        rows="15"
        cols="30"
        pInputTextarea
        formControlName="text"
    ></textarea>
    <code
        *ngIf="mode === 'PREVIEW'"
        class="min-h-96"
        [highlight]="text"
        [languages]="[syntax]"
        [lineNumbers]="true"
        style="white-space: pre-wrap"
    ></code>

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-3 mt-5">
        <div class="flex flex-col gap-2">
            <label class="font-semibold">Syntax</label>
            <p-dropdown
                styleClass="w-full"
                [disabled]="mode === 'PREVIEW'"
                [options]="syntaxes"
                formControlName="syntax"
                [filter]="true"
                filterBy="label"
                placeholder="Select a syntax"
            ></p-dropdown>
        </div>
        <div class="flex flex-col gap-2">
            <label class="font-semibold">Expiration</label>
            <p-dropdown
                styleClass="w-full"
                [disabled]="true"
                [(ngModel)]="expiration"
                [ngModelOptions]="{ standalone: true }"
                [options]="expirations"
                filterBy="label"
                placeholder="Select an expiration"
            ></p-dropdown>
        </div>
        <div class="flex flex-col lg:flex-row lg:items-center col-span-2 gap-2">
            <div class="flex align-center">
                <p-checkbox
                    formControlName="encrypted"
                    [binary]="true"
                ></p-checkbox>
                <label class="font-semibold ml-2">Encrypt</label>
            </div>
            <div *ngIf="encrypted" class="flex flex-col gap-2 lg:ml-2">
                <label class="font-semibold">Password</label>
                <div class="inline-flex items-end">
                    <p-password
                        formControlName="password"
                        [feedback]="false"
                        [toggleMask]="true"
                    ></p-password>
                </div>
            </div>
            <div class="flex items-end h-full gap-2">
                <p-button
                    [loading]="loading"
                    [disabled]="loading || form.invalid"
                    (click)="save()"
                    icon="ti ti-device-floppy"
                    label="Save"
                ></p-button>
            </div>
        </div>
    </div>

    <div
        *ngIf="paste"
        class="flex flex-col lg:flex-row bg-red-700 mt-5 border-2 border-red-300 rounded p-3"
    >
        <qrcode [qrdata]="URL" [width]="120"></qrcode>
        <div class="flex-1 flex flex-col justify-center px-3 text-xl">
            <span class="flex align-center gap-2 font-bold mt-2 lg:mt-0">
                <i
                    pTooltip="Paste URL"
                    tooltipPosition="left"
                    class="ti ti-link text-red-300"
                    style="font-size: 28px"
                ></i>
                <a class="text-red-100" [href]="URL">{{ URL | slice : 8 }}</a>
            </span>
        </div>
        <p-button
            icon="ti ti-clipboard"
            pTooltip="Copy to clipboard"
            tooltipPosition="top"
            (click)="copyURLToClipboard()"
        ></p-button>
    </div>
</form>
