<div class="text-white pb-6 mt-24 sm:pb-8 lg:pb-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <section
            class="flex flex-col justify-between gap-6 sm:gap-10 md:gap-16 lg:flex-row"
        >
            <div
                class="flex flex-col justify-center sm:text-center lg:py-12 lg:text-left xl:w-5/12 xl:py-24"
            >
                <h1
                    class="mb-8 text-4xl font-bold sm:text-5xl md:mb-12 md:text-6xl"
                >
                    The <span class="text-red-500">all-in-one</span> web
                    services platform
                </h1>

                <p
                    class="mb-8 leading-relaxed text-gray-200 md:mb-12 lg:w-4/5 xl:text-lg"
                >
                    Streamline your online sharing with our powerful URL
                    shortener and secure pastebin solutions
                </p>

                <div
                    class="flex flex-col gap-2.5 sm:flex-row sm:justify-center lg:justify-start"
                >
                    <a
                        href="#features"
                        class="inline-block rounded-lg bg-red-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-red-300 transition duration-100 hover:bg-red-600 focus-visible:ring active:bg-red-700 md:text-base"
                        >Start now</a
                    >
                </div>
            </div>

            <div class="h-48 overflow-hidden lg:h-auto xl:w-5/12">
                <img
                    ngSrc="assets/logo.svg"
                    loading="lazy"
                    alt="Logo"
                    width="300"
                    height="400"
                />
            </div>
        </section>

        <span class="flex mt-36 justify-center animate-bounce">
            <i class="ti ti-caret-down-filled" style="font-size: 64px"></i>
        </span>
    </div>
</div>

<div id="features" class="py-6 sm:py-8 lg:py-32">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2
                class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl"
            >
                Our services
            </h2>
        </div>

        <div
            class="grid gap-8 sm:grid-cols-2 md:gap-12 xl:grid-cols-3 xl:gap-16"
        >
            <div class="flex gap-4 md:gap-6">
                <div
                    class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-red-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
                >
                    <i class="ti ti-link"></i>
                </div>

                <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">
                        URL Shortener
                    </h3>
                    <p class="mb-2 text-gray-200">
                        Transform massive links into short and easy to share
                        ones, while being able to track its stats.
                    </p>
                    <a
                        routerLink="/url-shortener"
                        class="font-bold text-red-500 transition duration-100 hover:text-red-600 active:text-red-700"
                        >Try it now</a
                    >
                </div>
            </div>

            <div class="flex gap-4 md:gap-6">
                <div
                    class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-red-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
                >
                    <i class="ti ti-notes"></i>
                </div>

                <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">
                        Pastebin
                    </h3>
                    <p class="mb-2 text-gray-200">
                        Share any text or piece of code over the web easily.
                    </p>
                    <a
                        routerLink="/pastebin"
                        class="font-bold text-red-500 transition duration-100 hover:text-red-600 active:text-red-700"
                        >Try it now</a
                    >
                </div>
            </div>

            <div class="flex gap-4 md:gap-6">
                <div
                    class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-red-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
                >
                    ...
                </div>

                <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">
                        And more
                    </h3>
                    <p class="mb-2 text-gray-200">Soon ™️...</p>
                </div>
            </div>
        </div>
    </div>
</div>
