layout {
	pane split_direction="vertical" {
		pane {
		    cwd "../apps/ui"
			command "npm"
			args "run" "dev"
		}
		pane {
			command "docker-compose"
			args "-f" "../docker-compose.yml" "up"
		}
	}
	pane {
	    cwd "../apps/api"
		command "mvn"
		args "spring-boot:run"
	}
}
