<nav class="fixed top-0 z-30 w-full bg-zinc-900">
    <div class="px-3 py-3 lg:px-5 lg:pl-3 border-0 border-b border-solid border-zinc-600">
        <div class="flex items-center justify-between">
            <div class="flex md:ml-64 md:pl-3">
                <a
                    type="button"
                    class="inline-flex items-center p-2 text-sm text-zinc-500 rounded-lg sm:hidden hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
                    (click)="toggleSidebar()"
                >
                    <span class="sr-only">Open sidebar</span>
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                        ></path>
                    </svg>
                </a>
                <ng-container *ngTemplateOutlet="pageHeader"></ng-container>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div (click)="userMenu.toggle($event)" class="flex items-center gap-2 hover:bg-zinc-700 p-2 rounded-lg transition cursor-pointer">
                        <p-avatar
                            class="rounded-3xl"
                            icon="ti ti-user"
                            size="normal"
                            shape="square"
                            [style]="{'background-color': '#ef4444'}"
                        />
                        <div class="hidden md:flex flex-col">
                            <span class="font-semibold">{{ user?.fullName }}</span>
                            <span>{{ user?.formattedRole }}</span>
                        </div>
                    </div>

                    <p-overlayPanel #userMenu>
                        <div
                            class="text-base list-none divide-y rounded shadow divide-zinc-600 w-64"
                            id="dropdown-user"
                        >
                            <ul class="py-1" role="none">
                                <li>
                                    <a
                                        (click)="profile()"
                                        class="flex items-center gap-2 cursor-pointer px-4 py-2 text-sm text-zinc-700 hover:bg-zinc-100 dark:text-zinc-300 dark:hover:bg-zinc-600 dark:hover:text-white"
                                        role="menuitem"
                                    ><i class="ti ti-user"></i> Profile</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </p-overlayPanel>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-5 transition-transform -tranzinc-x-full border-0 border-solid border-r sm:tranzinc-x-0 bg-zinc-800 border-zinc-600"
    [ngClass]="{
        hidden: !isSidebarOpen,
    }"
    aria-label="Sidebar"
>
    <div class="flex justify-between">
        <a routerLink="/" class="flex items-center ms-8">
            <img src="/assets/logo.svg" class="h-10 me-3" alt="Logo" />

            <span class="font-bold text-white text-2xl">Mally</span>
        </a>
        <a
            type="button"
            class="mr-3 inline-flex md:hidden items-center p-2 text-sm text-zinc-500 rounded-lg hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
            (click)="toggleSidebar()"
        >
            <span class="sr-only">Open sidebar</span>
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                ></path>
            </svg>
        </a>
    </div>

    <div class="flex flex-col justify-between text-white h-full px-5 mt-10 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li *ngFor="let item of sidebarItems">
                <div *ngIf="item.children">
                    <p class="mb-2 text-zinc-400">{{ item.label }}</p>
                    <div *ngFor="let child of item.children">
                        <a
                            [routerLink]="child.path"
                            class="flex items-center p-2 my-2 rounded-lg text-white hover:bg-zinc-700 group"
                            [ngClass]="{
                                    'bg-zinc-600': router.url === child.path,
                                }"
                        >
                            <i [class]="child.icon"></i>
                            <span class="ms-3 mt-1">{{ child.label }}</span>
                        </a>
                    </div>
                </div>
                <a
                    *ngIf="!item.children"
                    [href]="item.path"
                    class="flex items-center p-3 rounded-lg text-white hover:text-primary-300 group"
                    [ngClass]="{
                            'bg-zinc-700': router.url === item.path,
                            'font-bold': router.url === item.path
                        }"
                >
                    <i [class]="item.icon"></i>
                    <span class="ms-3">{{ item.label }}</span>
                    <span
                        *ngIf="item.new"
                        class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-green-800 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-300"
                    >New</span
                    >
                </a>
            </li>
        </ul>
        <div>
            <a
                class="mb-28 flex cursor-pointer items-center p-3 rounded-lg text-white hover:bg-zinc-700 transition group"
                (click)="logout()"
            >
                <i class="ti ti-logout-2"></i>
                <span class="ms-3">Log out</span>
            </a>
        </div>
    </div>
</aside>

<div class="p-6 sm:ml-64 mt-24 text-white">
    <router-outlet (activate)="onChildActivate($event)"></router-outlet>
</div>
