<ng-template #pageHeader>
    <p class="text-2xl font-bold mb-5">Dashboard</p>
</ng-template>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    @if (loading) {
        <div class="flex flex-col justify-between bg-zinc-700 rounded p-3">
            <p-skeleton
                width="10rem"
                height="1.2rem"
                styleClass="mb-2"
                borderRadius="16px"
            />
            <p-skeleton
                width="4rem"
                height="2rem"
                styleClass="mb-2"
                borderRadius="16px"
            />
        </div>
        <div class="flex flex-col justify-between bg-zinc-700 rounded p-3">
            <p-skeleton
                width="10rem"
                height="1.2rem"
                styleClass="mb-2"
                borderRadius="16px"
            />
            <p-skeleton
                width="4rem"
                height="2rem"
                styleClass="mb-2"
                borderRadius="16px"
            />
        </div>
    } @else {
        <app-stats-card
            title="Total Short URLs"
            [data]="stats?.urlShortener?.total"
            link="/dashboard/short-urls"
        ></app-stats-card>
        <app-stats-card
            title="Total Pastes"
            [data]="stats?.pastebin?.total"
            link="/dashboard/pastes"
        ></app-stats-card>
    }
</div>
